# ========== APP-RELATED ==========
LOG_LEVEL=""
PYTHON_ENV=""

# ========== REDIS ==========
REDIS_URL=""

# ========== OPENAI ==========
OPENAI_API_KEY=""

# ========== DATABASE ==========
DATABASE_URL=""

# ========== WORKOS ==========
WORKOS_API_KEY=""
WORKOS_CLIENT_ID=""
WORKOS_JWKS_URL=""
WORKOS_TESTUSER_EMAIL=""
WORKOS_TESTUSER_PASSWORD=""
